.page-login-v3 .checkbox-custom {
	padding: 5px 20px 6px 10px;
    border-radius: 10px;
    border: 1px solid #c6e0bf;
}

.page-login-v3 .checkbox-custom label {
	color: #43a047;
	font-weight: bold;
}

.page-login-v3 .checkbox-custom input[type="checkbox"] {
	position: relative;
	margin-left: 5px;
}