.ct-chart-orange .ct-series-a .ct-area {
	fill: #ff9600;
}
	
.ct-chart-orange .ct-series-a .ct-line {
	stroke: #ffbd5b;
}

.ct-chart-indigo .ct-series-a .ct-area {
	fill: #9061b1;
}
	
.ct-chart-indigo .ct-series-a .ct-line {
	stroke: #9e82b3;
}

.ct-chart-green .ct-series-a .ct-area {
	fill: #b9e0c1;
}
	
.ct-chart-green .ct-series-a .ct-line {
	stroke: #5a8863;
}